body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    color: blue;
}

.container {
    display: grid;
    height: 100vh;
    gap: 5px;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 100px);

    /* justify-items: start end center stretch; */
    justify-items: stretch;

    /* justify-content: start end center stretch space-around space-between space-evenly; */
    justify-content: space-around;

    /* align-content: end center stretch space-around space-between; */
    align-content: space-around;

}

.item {
    background: lightblue;
    padding: 10px;
}

.item:nth-of-type(5) {
    background: blue;
    color: lightblue;
    justify-self: start;
}